@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;700&family=Noto+Sans+Myanmar:wght@400;500;600;750;900&family=Padauk:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-myanmar: "Noto Sans Myanmar", "Padauk", sans-serif;
}

/* Custom scrollbar - completely hidden for a clean and flawless premium aesthetic */
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  display: none !important;
}

* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
